<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayby.pimage.domain.AttachMapper">
	<select id="getAttachList" resultType="com.mayby.model.vo.AttachImageVO">
		select * 
		from clothmall.pimage 
		where pi_p_id = #{pi_p_id}
	</select>
</mapper>