@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

/*중복 상품 아이디 존재X */
.p_id_input_1 {
	color : green;
	display : none;
}
/* 중복 상품 아이디 존재O */
.p_id_input_2{
	color : red;
	display : none;
}

/* 입력 유효성 체크 */
.ck_warn {
	display: none;
	color: red;
	font-weight: 300;
	margin-top: 10px !important;
}

/* 할인 가격 문구 */
.step_val {
	display: block;
	margin-top: 10px !important;
	font-weight: 500;
}

/* 상품 미리 보기 */
#result_card img{
		max-width: 100%;
	    height: auto;
	    display: block;
	    padding: 5px;
	    margin-top: 10px;
	    margin: auto;	
}
#result_card {
	position: relative;
}
/* X 버튼 */
.imgDeleteBtn{
	    position: absolute;
	    top: 0;
	    right: 5%;
	    background-color: #ef7d7d;
	    color: wheat;
	    font-weight: 900;
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    line-height: 26px;
	    text-align: center;
	    border: none;
	    display: block;
	    cursor: pointer;	
	}